@charset "UTF-8";
/* CSS Document */
a:link {
  color: #D2AFF9;
	background-color: #19162A;
	padding: 10px 15px;
	margin: 5px 15px;
	border-radius: 5px;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: #D2AFF9;
background-color: #433B6D;
padding: 10px 15px;
margin: 5px 15px;
	border-radius: 5px;
}

/* mouse over link */
a:hover {
  background-color: white;
  color: #D2AFF9;
}

/* selected link */
a:active {
  color: #876DB2;
}
body {
	background-color:#876DB2; 
	color: #e4dfda; 
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background-color: #19162A; 
	color:#e4dfda; 
	font-size: 50px; 
	padding: 25px; 
	text-align: center;
}
#nav {
	background-color: #D2AFF9; 
	color: #e4dfda; 
	text-align: center; 
	padding: 15px;
}
#content {
	padding: 15px;
}
#footer {
	background-color: #D2AFF9;
	color: #e4dfda;
	text-align: center;
	padding: 15px;
}
